In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('athlete_events.csv')

In [3]:
print(df)

            ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]

In [4]:
total_unique_id = df['ID'].nunique()

In [5]:
print(total_unique_id)

135571

In [6]:
df.drop_duplicates(subset ="Name",
                     keep = 'first', inplace = True)

In [7]:
print(df
    )

            ID                          Name Sex   Age  Height  Weight  \
0            1                     A Dijiang   M  24.0   180.0    80.0
1            2                      A Lamusi   M  23.0   170.0    60.0
2            3           Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4          Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5      Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                           ...  ..   ...     ...     ...
271108  135567  Aleksandr Viktorovich Zyuzin   M  24.0   183.0    72.0
271110  135568        Olga Igorevna Zyuzkova   F  33.0   171.0    69.0
271111  135569                    Andrzej ya   M  29.0   179.0    89.0
271112  135570                      Piotr ya   M  27.0   176.0    59.0
271114  135571            Tomasz Ireneusz ya   M  30.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271108          Russia  RUS  2000 Summer  2000  Summer          Sydney
271110         Belarus  BLR  2016 Summer  2016  Summer  Rio de Janeiro
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271108         Rowing    Rowing Men's Lightweight Coxless Fours   NaN
271110     Basketball             Basketball Women's Basketball   NaN
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN

[134732 rows x 15 columns]

In [8]:
df['Sex'].value_counts()

M    100953
F     33779
Name: Sex, dtype: int64

In [9]:
df1=pd.read_csv('athlete_events.csv')

In [10]:
x=df1['Name'].value_counts()

In [1]:
print(x)

NameError: name 'x' is not defined